.sidebar-cont {
    position: absolute;
    max-width: 0;
    margin: 0;
    padding: 0;
    right: 15vw;
}

.card {
    padding: 0;
    margin: 5px;
    min-width: none;
    background-color: transparent;
    color: white;
    transition: 0s;
}

.card:hover {
    transition-duration: 1s;
    opacity: 100%;
}

