.App {
  text-align: center;
}

.main {
  position: relative;
  background-image: url('./components/bg-img.jpg');
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
