.App {
  text-align: center;
}

.main {
  background-image: url('./components/bg-img.jpg');
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center/cover;
  height: 100vh;
  width: auto;
}
